/* src/components/Layout/Sidebar.css (modificación) */
.add-friend-sidebar {
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: var(--light-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: var(--border-radius);
  font-weight: 500;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.add-friend-sidebar:hover {
  background-color: #e8e2f7;
}
